# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\meal_ordering_system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
